body {
    background-color: #EAF6F6;
    font-family: monospace;
}

hr {
  background-color: none;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: medium;
  border-color: grey;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h4 {
  color: #66BFBF;
}

h5 {
  color: #66BFBF;
}

h6 {
  color: #66BFBF;
}
